* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
}

.container {
    align-content: center;
    background-color: #eee;
}

.form {
    margin-top: 10px;
}